.message-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px 5px;
    padding: 8px;
    width: 150px;
    min-height: 40px;
    border-radius: 5px;
    hyphens: auto;
    background: #ededed;
}

.my {
    background: #d6e7f9;
    align-self: flex-end;
}

.dateMassege {
    color: grey;
    font-size: 10px;
    margin-top: 5px;
}

.you {
    color: grey;
    font-size: 13px;
}

.message-text {
    display: inline-block;
    margin: 3px 0;
}