ul {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 500px;
  min-height: 700px;
  box-shadow: 0 0 6px 0 rgba(0,0,0,.04), 0 4px 10px 0 rgba(13,35,67,.25);
  border-radius: 5px;
  margin: 10px auto;
}
.container-chat {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 300px;
  box-sizing: border-box;
}

.chat-list {
  display: flex;
  flex-direction: column;
}

.container-chat::-webkit-scrollbar{
  width: 5px;
}
.container-chat::-webkit-scrollbar-track {
  background-color:white;
}
.container-chat::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color:white;
}

.container-chat:hover::-webkit-scrollbar-thumb {
  background-color: silver;
}