ul {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 800px;
  height: 800px;
  box-shadow: 0 0 6px 0 rgba(0,0,0,.04), 0 4px 10px 0 rgba(13,35,67,.25);
  border-radius: 5px;
  margin: 10px auto;
  align-self: flex-start;
}

.chat-content {
  overflow-y: auto;
  height: 100%;
}

.container-chat {
  /* overflow-y: auto; */
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  /* height: 300px; */
  height: 100%;
  box-sizing: border-box;
}

.chat-list {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}

.chat-content::-webkit-scrollbar{
  width: 1px;
}
.chat-content::-webkit-scrollbar-track {
  background-color:white;
}
.chat-content::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color:white;
}

.chat-content:hover::-webkit-scrollbar-thumb {
  background-color: silver;
}