h1 {
    margin: 0;
}
.header {
    width: 100%;
    height: 55px;
    background: #597ba0;
    color: white;
}

.header-content {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 100%;
    max-width: 800px;
}

.main-title {
    display: flex;
    align-items: center;
    height: 100%;
}

.header-user-info {
    display: flex;
    align-items: center;
    height: 100%;
    cursor: pointer;
}

.user-name {
    font-weight: 700;
}